

.navbar{
    background-color: black;
    color: white;
    margin: 0;
}

img{
    width: 80;
    height: 80px;
    margin: 10px;
}

.navigation{
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

li{
    margin:10px;
    cursor: pointer;
}
.navbtn{
    display: flex;
    align-items: center;
}