<div class="">
    <div class="py-12">
        <div class="relative z-0">
            <div class="absolute  h-1/2  "></div>
            <div class="max-w-7xl mx-auto  sm:px-6 lg:px-8">
                <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                    <div class="absolute inset-0">
                        <video class="h-full w-full object-cover" preload="metadata" loop autoPlay muted
                            poster="https://images.pexels.com/photos/6295987/pexels-photo-6295987.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                            src="./assets/videoHero.mov">
                            <img src="https://images.pexels.com/photos/6295987/pexels-photo-6295987.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                                alt="Fighting hero" />
                        </video>

                        <div class="absolute inset-0 opacity-60 bg-red-600 mix-blend-multiply"></div>
                    </div>
                    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                        <h1 class="text-center text-4xl  font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                            <span class="block font-black  text-white">Pythagore</span>
                            <span class="block font-black text-black"> Académie </span>
                        </h1>
                        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl">
                            Retrouvez cours de Jiu-Jitsu Brésilien, Judo, Mixed Martial Arts, NoGi et de Self défense dispensés par Emmanuel FERNANDEZ, champion reconnu, diplômé d’état et fin pédagogue!
                        </p>
                        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                            <span
                                class="flex  justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm  bg-white  text-red-600  sm:px-8 cursor-pointer">
                                <a class="text-red-600 hover:text-black">
                                Nos Disciplines
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>